

<div class="widget">
                    <div class="header"><span > About me </span>
                            </div>
                            </div>
						</div>


<div class="content" >
     <table class="display static " id="static">
	<thead>
	</thead>
	
<tbody>

<tr>
<td  align="left"><%=@stud_description.about_me%></td>
</tr>

</tbody>
</table>
</div>