

<div class="widget">
                    <div class="header"><span > About me </span>
                            </div>
                            </div>
						</div>


<div class="content" >
     <table class="display static " id="static">
	<thead>
	</thead>
	
<tbody>

<tr>
<td><img src="/assets/zice/images/icon/color_18/directional_right.png" height="10px"/></td><td  align="left"><%=@stud_description.about_me%></td>
</tr>

</tbody>
</table>
</div>