<div class="widget">
                    <div class="header"><span > Internships Details </span>
                            </div>
                            </div>
						</div>


<div class="content" >
     <table class="display static " id="static">
	<thead>
	</thead>
	
<tbody>

<tr>
<td  align="left"><b>Duration For Internships :</b>&nbsp;&nbsp;<%=@stud_internship.duration%> month</td>
</tr>

<tr>
<td  align="left"><b>Internship start :</b>&nbsp;&nbsp;<%=@stud_internship.sem_internship_start%></td>
</tr>

<tr>
<td  align="left"><b>Internship end :</b>&nbsp;&nbsp;<%=@stud_internship.sem_internship_end%></td>
</tr>

</tbody>
</table>
</div>																		