
<div class="widget">
                    <div class="header"><span ><b> Language Skills </b></span>
                            </div>
                            </div>
						</div>


<div class="content" >
     <table class="display static " >

<tbody>
<%@resume.stud_languages.each do |u|%>

<tr>
<td><img src="/assets/zice/images/icon/color_18/directional_right.png" height="10px"/></td><td  align="left"><%=u.language%>, was a <%=u.spoken.name%> spoken and <%=u.written.name%> written skill</td>
</tr>
<%end%>

</tbody>
</table>
</div>																			