
<div class="widget">
                    <div class="header"><span > Language Details</span>
                            </div>
                            </div>
						</div>


<div class="content" >
     <table class="display static " id="static">
	<thead>
	<tr>
		<th align="left">Bil</th><th align="left">Language</th><th align="left">Spoken</th><th align="left">Written</th>
	</tr>
	</thead>
	
<tbody>

<%i=0%>
<%@resume.stud_languages.each do |u|%>
<%i+=1%>
<tr>
<td  align="left"><%=i%> )</td><td  align="left"><%=u.language%></td><td  align="left"><%=u.spoken.name%></td><td  align="left"><%=u.written.name%></td>
</tr>
<%end%>

</tbody>
</table>
</div>																			