

<div class="widget">
                    <div class="header"><span > Skills </span>
                            </div>
                            </div>
						</div>


<div class="content" >
     <table class="display static " >
<tbody>
<%@resume.stud_skills.each do |u|%>
<tr>
<td><img src="/assets/zice/images/icon/color_18/directional_right.png" height="10px"/></td>
<td  align="left">Has <%=u.skill%> skill for <%=u.year_exp%> month with <%=u.skill_pro.name%> Proficiency
</tr>
<%end%>

</tbody>
</table>

</div>
