<div class="widget">
                    <div class="header"><span > Working Experiences </span>
                            </div>
                            </div>
						</div>


<div class="content" >
     <table class="display static " id="static">
<tbody>

<%@resume.working_experiences.each do |u|%>
<tr>
<td><img src="/assets/zice/images/icon/color_18/directional_right.png" height="10px"/></td>
<td  align="left">Working as <%=u.working_as%> at <%=u.company%> for <%=u.year_exp%> month</td>
</tr>
<%end%>

</tbody>
</table>
</div>