<div id="login" >
  <div class="inner">
  <div  class="logo" ><img src="images/logo/sis.png"/></div>
  
  
<%= form_for(:session, :url => sessions_path) do |f| %>

<center>
<div class="tip">
<%= f.text_field :email, :placeholder => "Email"%>
</div>
</br>
<div class="tip">
<%= f.password_field :password, :placeholder => "Password" %>
</div>
</center>

</br>
<div class="loginButton">
		<div style="float:right; padding:3px 0; margin-right:-12px;">
            <div> 
				<div class="actions">
				<%= f.submit "Sign in", :class => 'uibutton loading', :title => 'Login' %>
				</div> 
            </div>
			  
        </div>
			<div class="clear"></div>	
</div>

<% end %>

</div>
	<div class="clear"></div>
	<div class="shadow"></div>
</div>

