<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @available_internship.name %>
</p>


<%= link_to 'Edit', edit_available_internship_path(@available_internship) %> |
<%= link_to 'Back', available_internships_path %>
