
								<div class="widget">
								 <div class="header"><span><span class="ico gray window"></span>  Language Details   </span></div>
									<div class="content">
      <table >
	<thead>
	<tr>
		<th align="left" style="width:20%;">Bil</th>
		<th align="left" style="width:35%;">Language</th>
		<th align="left" style="width:35%;">Spoken</th>
		<th align="left" style="width:35%;">Written</th>
	</tr>
	</thead>
	
<tbody>

<%i=0%>
<%current_user.stud_languages.each do |u|%>
<%i+=1%>
<tr>
<td  align="left"> <%=i%> )</td>
<td  align="left" ><%=u.language%></td>
<td  align="left" ><%=u.spoken.name%></td>
<td  align="left" ><%=u.written.name%></td>
</tr>
<%end%>

</tbody>
</table>	                         

									</div>
								 </div>
<style>

</style>