																		
																			<table>
																			<tr>
																			<td><span><%= gravatar_for @user ,:size=>80%></span></td>
																			</tr>
																			</table>
																			