

<div class="widget">
                    <div class="header"><span > Skills </span>
                            </div>
                            </div>
						</div>


<div class="content" >
     <table >
	<thead>
	<tr>
		<th align="left">Bil</th><th align="left">Skill</th><th align="left">Duration</th><th align="left">Proficiency</th>
	</tr>
	</thead>
	
<tbody>

<%i=0%>
<%current_user.stud_skills.each do |u|%>
<%i+=1%>
<tr>
<td  align="left"><%=i%> ) </td><td  align="left"><%=u.skill%></td><td  align="left"><%=u.year_exp%> month</td><td  align="left"><%=u.skill_pro.name%></td>
</tr>
<%end%>

</tbody>
</table>

</div>
