<div class="twoOne">
<div class="widget">
						<div class="header"><span ><span class="ico  gray random"></span> Are you sure to checkin ?</span></div>
						<div class="content"  >
							<%= render 'form' %>
						</div>
</div>
</div>						


