<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @innovative_outcome.name %>
</p>


<%= link_to 'Edit', edit_innovative_outcome_path(@innovative_outcome) %> |
<%= link_to 'Back', innovative_outcomes_path %>
