
																		<h3>
																		<span class="header">Internships Profile</span>
																		
																		<br/>
																		</h3>
																		
																			<table border=1>
																			<tr>
																			<td>Semester For Internships</td>
																			<td><%=@stud_internship.sem_internship_start%></td>
																			<td></td>
																			</tr>
																			<tr>
																			<td>Duration For Internships</td>
																			<td><%=@stud_internship.duration_id%></td>
																			<td></td>
																			</tr>
																			</table>
																		