                     <div align="center">            
								 <form> 
										<input type="button" value="Ok" onclick="window.close()">
							      </form>
								  
								   <body onunload="opener.location = opener.location">
					</div>