
<h4><b>Internships Profile</b></h4>
																		
<table border=1>

<tr>
<td  align="left"><b>Duration For Internships :</b>&nbsp;&nbsp;<%=@stud_internship.duration%> month</td>
</tr>

<tr>
<td  align="left"><b>Internship start :</b>&nbsp;&nbsp;<%=@stud_internship.sem_internship_start%></td>
</tr>

<tr>
<td  align="left"><b>Internship end :</b>&nbsp;&nbsp;<%=@stud_internship.sem_internship_end%></td>
</tr>

</table>
																		