<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @code_program.name %>
</p>


<%= link_to 'Edit', edit_code_program_path(@code_program) %> |
<%= link_to 'Back', code_programs_path %>
