<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @s_management.name %>
</p>


<%= link_to 'Edit', edit_s_management_path(@s_management) %> |
<%= link_to 'Back', s_managements_path %>
