<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @learning_skill.name %>
</p>


<%= link_to 'Edit', edit_learning_skill_path(@learning_skill) %> |
<%= link_to 'Back', learning_skills_path %>
