<div id="form_evaluation">
<%=render 'form'%>
</div>

<script>
$(document).ready(function(){
$('#btn_submit').click(function(){
var total = $('').val();


});




});

});


</script>