<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employer_trait.name %>
</p>


<%= link_to 'Edit', edit_employer_trait_path(@employer_trait) %> |
<%= link_to 'Back', employer_traits_path %>
