
<div class="widgets">

							<div class="oneTwo">
								<div class="widget">
								 <div class="header"><span><span class="ico gray window"></span>Make Visit Appointment</span></div>
									<div class="content">
                          
									<%= render 'form' %>

									</div>
								 </div>
							</div>
</div>



