
<div class="widgets">

							<div class="oneTwo">
								<div class="widget">
								 <div class="header"><span><span class="ico gray window"></span>Visit Appointment Information</span></div>
									<div class="content">
									
									<p>
										<b>Student ID:</b>
										<%= @date_visit.student_id %>
									</p>
									
									<p>
										<b>Date:</b>
										<%= @date_visit.date %>
									</p>

									</div>
								 </div>
							</div>
</div>



