<li class="limenu" ><%= link_to "Profile", current_user%> </li>
<li class="limenu" ><%= link_to "Company", syarikat_path %> </li>
<li class="limenu" ><%= link_to "Advertisements", users_path %></li>
<li class="limenu" ><%# link_to "Profile", current_user%> </li>