						
<li class="limenu " ><%= link_to "Staff", pensyarah_path %></li>
<li class="limenu " ><%= link_to "Assign Class", student_classes_path%> </li>
<li class="limenu " > <%= link_to "Search Student", search_student_path%> </li>
