 <li class="limenu" ><%= link_to "Profile", current_user%></li>
 <li class="limenu" ><%= link_to "Student", pelajar_path %> </li>
 <li class="limenu" ><%= link_to "Resume", users_path %> </li>
	<%if current_user.user_companies.sum(:total)==1%>
 <li class="limenu" ><%= link_to "Log Book", log_books_path%> </li>
 <%end%>